.tables-container {
    background-color: #282c34;
    gap: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .table {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
    margin: 10px auto;
    text-align: left;
    border-collapse: collapse;
  }
  
  th {
    color: rgb(109, 129, 242);
    font-size: 14px;
  }
  
  td {
    color: rgb(255, 255, 255);
    padding: 4px;
  }
  
  td:not(:first-child) {
    color: rgb(49, 185, 49);
    font-weight: normal;
  }
  
  .image-container {
    flex-shrink: 0;
    margin-right: 20px;
  }

  .aerodrome-image {
    position: relative;
    width: 100%;
    max-width: 600px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
  

  .form-button {
    width: 100%;
    text-align: center;
  }
  
  .form-button button {
    background-color: #3e7a40;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .form-button button:hover {
    background-color: #45a049;
  }
  