body {
  background-color: #09305b; /* Blue background color */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  min-height: 100vh; /* Ensure the app fills the entire viewport height */
  display: flex;
  flex-direction: row; /* Change the flex direction to row */
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(181, 181, 181);
}

.aerodrome-img {
  width: 600px; /* Set the desired width */
  height: 600px; /* Set the desired height */
  border-radius: 25%; /* Make the image circular */
  overflow: hidden; /* Hide any overflow outside the circle */
  flex-shrink: 0; /* Prevent the image from shrinking */
}

/* Example image */
.aerodrome-img img {
  width: 100%; /* Make the image fill the container */
  height: 100%; /* Make the image fill the container */
  object-fit: cover; /* Maintain the aspect ratio and cover the container */
}

.table-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-data {
  background-color: rgb(78, 3, 3);
  align-self: flex-start;
  flex-grow: 1; /* Allow the table to grow and fill the remaining space */
  margin-left: 10px; /* Add some spacing between the image and table */
}

.field-label {
  display: inline-block;
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0;
}

.field-data {
  display: inline-block;
  margin: 0;
  margin-bottom: 0;
}

.App button {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: flex-start; /* Left align the button */
  margin-top: 10px;
}

.App button:hover {
  background-color: #072f5a;
}


