
.App {
  background-color: rgb(9, 18, 82);
  text-align: center;
  min-height: 100vh; /* Ensure the app fills the entire viewport height */
  display: flex;
  flex-direction: row; /* Change the flex direction to row */
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(181, 181, 181);
}

.aerodrome-img {
  width: 25vw; /* Set the desired width */
  height: 25vw; /* Set the desired height */
  min-width: 400px;
  min-height: 400px;
  border-radius: 50%; /* Make the image circular */
  overflow: hidden; /* Hide any overflow outside the circle */
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.bold {
  font-weight: bold;
}

.table-data {
  align-self: flex-start; /* Float the table to the top */
  flex-grow: 1; /* Allow the table to grow and fill the remaining space */
  margin-left: 20px; /* Add some spacing between the image and table */
  grid-auto-columns: auto;
  max-width: 33vw;
  text-align: left; /* Center-align the content within table cells */
  padding: 25px;
}

.field-label {
  text-align: left;
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 0;
}

.field-data {
  text-align: left;
  margin: 10px 10px;
  margin-bottom: 0;
}

.App button {
  padding: 10px 20px; /* Reduce the padding to make the button smaller */
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  align-self: flex-start; /* Left align the button */
  margin-top: 10px;
  font-size: 14px; /* Reduce the font size to make the button smaller */
  border-radius: 8px; /* Reduce the border radius to make the button smaller */
}

.App button:hover {
  background-color: #072f5a;
}

.center {
  display: flex;
  flex-wrap: wrap;
}

.green {
  color: green;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}