/* Style for the image */
.aerodrome-image {
    width: 400px;          /* Adjust as per your desired size */
    height: auto;          /* Maintains aspect ratio */
    border-radius: 15px;   /* Rounds the corners */
    margin-top: 30px;
}

.aerodrome-image-container {
    margin-top: 30px;  /* Adjust this value as per your needs */
}