/* Common table styles */
.status-table,
.status-form-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  width: max-content;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  text-align: left;
}

/* Common status styles */
.status-active {
  color: green;
  background-color: white;
}

.status-inactive {
  color: rgb(0, 0, 0);
  background-color: rgba(255, 0, 0, 0.588);
}


tr:hover {
    background-color: #ccf9d8;
}

/* Set the width for the first column */
th:first-child, td:first-child {
    width: 400px; 

  }