/* This can be similar or identical to StatusForm.css, depending on your desired design */

/* Sample style (you can expand or adjust as needed) */
.status-table tr {
    height: 30px;
}

.status-table td {
    vertical-align: middle;
    padding: 4px 8px;
}

.status-active {
    color: red
}

.status-inactive {
    color: green;
}
