/* Status.css */
.status-page-view {
  display:flex;
  width: 100%;
  border-collapse: collapse;
  gap: 1em;
}

.left-view {
  display:inline-block;
  width: 25%;
  border-collapse: collapse;
  gap: 5em;
}

.center-view {
  display:inline-block;
  width: 30%;
  border-collapse: collapse;
  gap: 1em;
}

.right-view {
  display:inline-block;
  width: 45%;
  border-collapse: collapse;
  gap: 1em;
}

.coupled-view {
  display:flex;
  width: 100%;
  border-collapse: collapse;
  gap: 1em;
}


