/* Status.css */
.status-page-view {
  display:flex;
  width: 100%;
  border-collapse: collapse;
  gap: 1em;
  margin-top: 4em;
}

.left-view {
  display:inline-block;
  width: 20%;
  border-collapse: collapse;
  gap: 5em;
}

.center-view {
  display:inline-block;
  width: 35%;
  border-collapse: collapse;
  gap: 2em;
}

.right-view {
  display:inline-block;
  width: 45%;
  border-collapse: collapse;
  gap: 1em;
}

.coupled-view {
  display:flex;
  width: 100%;
  border-collapse: collapse;
  gap: 1em;
}


