/* Style for the table */
.status-form-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Header styles */
.status-form-table th {
    background-color: #181c8d;
    color: #fafafa;
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}


.status-form-table tr {
    height: 10px;  /* Adjust this value to your preference */
}

/* Ensure content inside the cells is centered vertically */
.status-form-table td {
    vertical-align: middle;
    padding: 2px 2px;  /* Adding some padding for better appearance, adjust as needed */
}

/* Dropdown styles */
select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #201212;
}

/* If you want to add some hover effects on rows */
tr:hover {
    background-color: #ccf9d8;
}


.status-active {
    color: red;
    background-color: rgb(255, 0, 0);
}

.status-inactive {
    color: green;
    background-color: rgb(43, 255, 0);
}