/* Status.css */
.status-view {
  display:flex;
  width: 100%;
  border-collapse: collapse;
  gap: 5em;
}

.main-status-view {
  display:inline-block;
  width: 33%;
  border-collapse: collapse;
  gap: 5em;
}

.aerodrome-image-view {
  display:inline-block;
  width: 33%;
  border-collapse: collapse;
  gap: 5em;
}

.runway-cable-status-view {
  display:inline-block;
  width: 33%;
  border-collapse: collapse;
  gap: 5em;
}